.hide{
    opacity: 0;
    pointer-events: none;
}
#hide{
    display:none;
}
.disappear{
    display: none;
}
body{
    background-image: url("../images/background.png");
}
white{
    color: white;
}